# Gradle
.gradle/
build/
.kotlin/

# Machine-specific SDK path, written by Android Studio
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/
*.hprof

# macOS
.DS_Store
